@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

@font-face {
  font-family: Mupen;
  src: url("./fonts/Mupen.ttf");
}

@font-face {
  font-family: Ceoma;
  src: url("./fonts/Ceoma.ttf");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: #a68bff;
}

body {
  color: #272727;
  font-family: Ceoma, "Sora", "Quicksand", serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.1rem;
  padding: 1rem;
}

.game-container {
  max-width: 1200px;
  margin: 0 auto;
}

.loading-msg {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(1.5rem, 1.5vw, 1.8rem);
  font-weight: 400;
  text-align: center;
  font-family: Ceoma;
}

.game-title {
  font-weight: 400;
  text-align: center;
  font-family: Ceoma;
  padding: 0;
  margin: 0;
  color: #272727;
  position: fixed;
  width: 100%;
  height: 80%;
  font-size: clamp(2rem, 1.5vw, 2.5rem);
}

.game-rules {
  text-align: left;
}

.game-scoreboard {
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 0.5rem;
}

.score,
.best-score {
  padding-block: 0.5625rem;
  border-radius: 14px;
  border: solid 0.25rem #000;
  box-shadow: 6px 6px 0 #3a3a3a;
  text-align: center;
  background: #f8ff1d;
  color: #272727;
  font-weight: 400;
  font-size: clamp(0.875rem, 1.5vw, 1rem); /* 14px → 16px */
  font-family: Ceoma;
  width: clamp(10rem, 1.5vw, 12rem);
}

.card-deck {
  display: grid;
  padding-top: 2.5rem;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-auto-flow: row;
  gap: 2rem;
  margin: 0 auto;
}

.playing-card {
  cursor: pointer;
  margin: 0;
  padding: 0;
  font-family: Ceoma, "Sora", sans-serif;

  display: block;
  height: auto;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
  background-color: #1f1f1f;
  border: 2px solid #1f1f1f;
  box-shadow: 6px 6px 0 #3a3a3a;
  border-radius: 12px;
}

.playing-card:hover {
  transform: translate(-2px, -2px);
  box-shadow: 8px 8px 0 #3a3a3a;
  transition:
    transform 180ms ease,
    box-shadow 180ms ease;
}

img {
  height: auto;
  display: block;
  aspect-ratio: 1 / 1.4;
  object-fit: fill;
  width: 100%;
}

.game-modal__header,
.game-over-modal__header {
  padding: 1.5rem;
  border-bottom: 4px solid #00ff9f;
}

.game-over-modal__header {
  border-bottom: 4px solid #ffb703;
}

.game-modal__title {
  font-weight: 900;
  color: #272727;
  font-size: clamp(1.2rem, 1.5vw, 1.5rem);
  text-transform: uppercase;
}

.game-modal__message,
.game-over-modal__message {
  color: #000;
  font-size: clamp(0.8rem, 1.5vw, 1rem);
  line-height: 1.4;
  border-bottom: 4px solid #00ff9f;
  padding: 1.5rem;
  padding-top: 1rem;
  font-weight: 600;
}

.game-over-modal__message {
  border-bottom: 4px solid #ffb703;
}

.game-modal__actions,
.game-modal__header,
.game-over-modal__header {
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-modal__actions {
  padding-bottom: 1rem;
}

.start-game-btn,
.restart-game-btn {
  display: block;
  position: relative;
  width: 50%;
  padding: 0.75rem;
  text-align: center;
  font-size: clamp(0.8rem, 1.5vw, 1rem);
  font-weight: 700;
  text-transform: uppercase;
  border: 3px solid #000;
  background-color: #fff;
  color: #000;
  text-wrap: wrap;
  transition: all 0.2s ease;
  box-shadow: 5px 5px 0 #000;
  overflow: hidden;
  text-decoration: none;
  margin-bottom: 1rem;
}

.start-game-btn:hover {
  background-color: #00ff9f;
  border-color: #00ff9f;
  color: #272727;
  box-shadow: 7px 7px 0 #00995d;
}

.restart-game-btn:hover {
  background-color: #ffc145;
  border-color: #ffc145;
  color: #272727;
  box-shadow: 7px 7px 0 #ffb703;
}

.game-intro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem;
}

.game-modal {
  border: 4px solid #000;
  background-color: #fff;
  padding: 1.5rem;
  box-shadow: 10px 10px 0 #3a3a3a;
  font-family: Ceoma;
}

/* Mobile    */
@media (max-width: 768px) {
  body {
    padding: 5rem;
    padding-top: 1rem;
  }
}

@media (max-width: 568px) {
  .card-deck {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
